output/*

record
web/static/imgs/tmp_imgs/*
datasets/**
results/**
function/defense/trainer/test/*
model/model-cifar-wideResNet/*
function/side/CMake_Research3/Build/*
function/side/CMake_Research3/Trs/*
function/side/CMake_Research3-bak
log.txt
*.pth
*.pyc
*.*.pyc
function/env_test/valid_extract.pkl
model/robnet-resnet18-cifar10.pth
function/defense/trainer/cartl/checkpoint/*
function/defense/trainer/cartl/runs/*
function/defense/trainer/cartl/trained_models/*
function/defense/trainer/cartl/logs/*
function/formal_verify/auto_LiRPA_verifiy/vision/data
*.pkl
dataset
model/auto_LiRPA_model
model/ckpt
model/gan_model
model/model-cifar-resnet18
model/model-cifar-vgg16
model/model-mnist-smallCNN
model/model-mnist-vgg16
__pycache__
**/__pycache__