body * {
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma,
    Arial, PingFang SC-Light, Microsoft YaHei;
  margin: 0;
}
input {
  background-color: transparent;
  border: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

button:active {
  opacity: 0.6;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-end {
  display: flex;
  align-items: flex-end;
}

.text {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 48px 0 0 80px;
}
.image_center{
    width: 38px;
    height: 18px;
    margin: 52px 0 0 80px;
}
.text_center{
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 48px 0 0 4px;
  
}

.text_index{
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  /* color: rgba(255, 255, 255, 1); */
  color: black;
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 26px 0 0 80px;
  
}

.text_start{
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 48px 0 0 315px;
  
}
.introduce{
  padding: 2% 3%;
  font-size: medium;
}
.introduce_title{
  margin-left: 24px;
  display: flex;
  margin-top: 20px;
  
}
.title_text{
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  margin-left: 12px;
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-left: 12px;
}
.input_label{
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  margin-left: 24px;
}
.form-control{
  height: 34px;
  width: 250px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  margin-left: 20px
}
.gzdiv{
  width:250px;
  /* height:250px */
}
.filebtn1{
  color: white;
  border: #1f9ce9 3px solid;
  padding: 10px 10px;
  border-radius: 12px;
  width: 130px;
  height: 50px;
  font-size: 18px;
  margin: 20px;
  background-color: #1f9ce9;
}
.startBtnF{
  margin: left;
  display: flex;
}

.group_body {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 24px 0 61px 360px;
}
.main_top_echarts_con_title{
  margin: 24px 0 0 36px;
  width: 54px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
}
.thumbnail_4 {
  width: 20px;
  height: 20px;
}
.result_body{
  width: 1152px;
  height: 40%;
  
}
.result{
  display: block;
}
.grid_fairness{
  width: 1152px;
  align-content:flex-start;
  flex-wrap: wrap;
  margin: 16px 0 0 24px;
}
::-webkit-scrollbar{
  display: none;
  width: 0;
  height: 0;
}
.flex-col {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.poptitle{
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: center;
}
.loading{

  width: 150px;

  height: 15px;

  margin: 0 auto;

  margin-top:100px;
  position: absolute;
  z-index: 999;
  margin-top: 70%;
  margin-left: 45%;

}

.loading span{

  display: inline-block;

  width: 15px;

  height: 100%;

  margin-right: 5px;

  border-radius: 50%;

  background: rgb(16, 4, 83);

  -webkit-animation: load 1.04s ease infinite;

}

.loading span:last-child{

  margin-right: 0px; 

}

@-webkit-keyframes load{

  0%{

      opacity: 1;

      -webkit-transform: scale(1.3);

  }

  100%{

      opacity: 0.2;

      -webkit-transform: scale(.3);

  }

}

.loading span:nth-child(1){

  -webkit-animation-delay:0.13s;

}

.loading span:nth-child(2){

  -webkit-animation-delay:0.26s;

}

.loading span:nth-child(3){

  -webkit-animation-delay:0.39s;

}

.loading span:nth-child(4){

  -webkit-animation-delay:0.52s;

}

.loading span:nth-child(5){

  -webkit-animation-delay:0.65s;

}
.fail{
  align-items: center;
}
.fairnessimg{
  margin-top:-20px;
  margin-left: 90px;
  width: 80%;
}
/* 参数配置的参数名 */
.input_label_var {
  color: #6F8BA4;
  font-size: 18px;
  margin-left: 24px;
  width:100%;
  margin-bottom:4px;
  text-align: left;
}
