.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  /* width: 1920px; */
  width: 100%;
  height: 3500px;
  overflow: hidden;
}

.group_1 {
  /* height: 560px; */
  /* background: url(../../img/background_head_earth.png) */
  background: url(../../img/bg.848718b.png)
    100% no-repeat;
  background-size: 100% 100%;
  /* width: 1920px; */
}

.section_1 {
  width: 1189px;
  height: 74px;
  margin: 22px 0 0 370px;
}

/* .block_1 { */
  /* background-image: url(../../img/AIcert_icon.png); */
  /* background-image: url(../../img/index_icon.png); */
  /* width: 120px; */
  /* height: 30px; */
/* } */

.image_1 {
  width: 38px;
  height: 18px;
  margin: 30px 0 0 150px;
}

.text_1 {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  /* color: rgba(255, 255, 255, 1); */
  color: black;
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 26px 0 0 7px;
}

.image_2 {
  width: 38px;
  height: 18px;
  margin: 30px 0 0 4px;
}

.text_2 {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 26px 0 0 38px;
}

.text_3 {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 26px 0 0 80px;
}

.text_4 {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 26px 0 0 80px;
}

.text_5 {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin: 26px 0 0 80px;
}

.block_2 {
  border-radius: 50%;
  background-image: url(../../img/github.png);
  width: 48px;
  height: 48px;
  margin: 14px 0 0 80px;
}

.text-wrapper_1 {
  width: 780px;
  height: 84px;
  margin: 115px 0 0 350px;
  /* margin: 115px 0 0 500px; */
}

.text_6 {
  /* text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
  width: 780px;
  height: 84px;
  overflow-wrap: break-word;
  color: black;
  /* font-size: 60px;
  font-family: PingFangSC-Regular;
  font-weight: bold; */
  text-align: left;
  white-space: nowrap;
  line-height: 84px;

  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #0d0d0d;
}

.text-wrapper_2 {
  width: 504px;
  height: 40px;
  margin: 50px 0 150px 350px;
  /* margin: 24px 0 201px 380px; */
}

.text_7 {
  width: 504px;
  height: 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  /* white-space: nowrap; */
  /* line-height: 40px; */

  font-family: PingFang SC;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #3e4453;

}

/* .group_2 {
  width: 1920px;
  height: 3318px;
  margin-bottom: 1px;
} */
/* 轮播图 */
.pc-banner {
	/* width: 100%; */
	float: left;
  /* margin: 2%; */
  width: 80%;
  margin: 1% auto;
}

.swiper-container {
	width: 100%;
	margin: 35px 0;
}


.swiper-slide {
  width: 750px;
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

.swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}


.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}


.swiper-slide img {
  margin-left: 24%;
	width: 50%;
	/* border-radius: 14px; */
	display: block;
}


.swiper-pagination {
	position: relative;
	margin-bottom: 2%;
}

.swiper-pagination-bullet {
	background: #00a0e9;
	margin-left: 4px;
	margin-right: 4px;
	width: 17px;
	height: 17px;
	opacity: 1;
	margin-bottom: 4px;
}

.swiper-pagination-bullet-active {
	width: 17px;
	height: 17px;
	background: #FFF;
	border: 6px solid #00a0e9;
	/* margin-bottom: 0; */
}

.button {
	width: 1000px;
	margin: 0 auto;
	bottom: 60px;
	position: relative;
}

.button div:hover {
	background-color: #2f4798;
}

.swiper-button-prev {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
  #00a0e9 center 50%/50% 50% no-repeat;;
  color: white;
}

.swiper-button-next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #00a0e9 center 50%/50% 50% no-repeat;
  color: white;
}
/* 轮播图 */

.text_8 {
  width: 180px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  font-family: SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
  line-height: 54px;
  margin: 60px 0 0 870px;
}

.image_3 {
  width: 169px;
  height: 28px;
  margin: 8px 0 0 875px;
}

.image_4 {
  width: 50%;
  margin: 3% auto;
}

.box_1 {
  background-image: url(../../img/background_head.png);
  width: 100%;
}

.section_2 {
  /* background-color: #1a203b; */
  background-color: #f3f7ff;
  width: 100%;
}

.text_9 {
  width: 144px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
  line-height: 54px;
  margin: 60px 0 0 888px;
}

.image_5 {
  width: 169px;
  height: 28px;
  margin: 8px 0 0 875px;
}

.group_3 {
  width: 1200px;
  height: 278px;
  margin: 64px 0 80px 360px;
}

.block_3 {
  width: 570px;
  height: 278px;
  background: url(../../img/block_3.png) -8px -6px
    no-repeat;
  background-size: 586px 294px;
}

.block_4 {
  height: 166px;
  background: url(../../img/block_4.png)
    0px 0px no-repeat;
  background-size: 142px 168px;
  width: 142px;
  margin: 52px 0 0 36px;
}

.image-wrapper_1 {
  height: 111px;
  background: url(../../img/image-wrapper_1.png)
    0px 0px no-repeat;
  background-size: 97px 112px;
  width: 96px;
  margin: 12px 0 0 23px;
}

.image_6 {
  width: 121px;
  height: 36px;
  margin: 30px 0 0 -13px;
}

.text-wrapper_3 {
  width: 320px;
  height: 88px;
  margin: 89px 36px 0 0;
}

.text_10 {
  width: 132px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
}

.text_11 {
  width: 320px;
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
  margin-top: 22px;
}

.block_5 {
  width: 570px;
  height: 278px;
  background: url(../../img/block_3.png) -8px -6px
    no-repeat;
  background-size: 586px 294px;
}

.image-wrapper_2 {
  height: 166px;
  background: url(../../img/image-wrapper_2.png)
    0px 0px no-repeat;
  background-size: 142px 169px;
  width: 142px;
  margin: 52px 0 0 36px;
}

.image_7 {
  width: 121px;
  height: 93px;
  margin: 16px 0 0 10px;
}

.text-wrapper_4 {
  width: 320px;
  height: 90px;
  margin: 87px 36px 0 0;
}

.text_12 {
  width: 110px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
}

.text_13 {
  width: 320px;
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
  margin-top: 24px;
}

.text_14 {
  width: 144px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  font-family: SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
  line-height: 54px;
  margin: 60px 0 0 888px;
}

.image_8 {
  width: 169px;
  height: 28px;
  margin: 8px 0 0 875px;
}

.list_1 {
  width: 1200px;
  height: 308px;
  justify-content: space-between;
  margin: 60px 0 0 360px;
}

.list-items_1-0 {
  width: 373px;
  height: 308px;
  background: url(../../img/list-items_1-0.png) -8px -6px
    no-repeat;
  background-size: 389px 324px;
  margin-right: 40px;
}

.list-items_1-0:hover div{
  transform: scale(1.1);
  /* background-color: #1a203b; */
}

.list-items_1-0:hover .text_15-0{
  transform: scale(1.1);
  /* background-color: #1a203b; */
}

.image-wrapper_3-0 {
  height: 108px;
  background: url(../../img/image-wrapper_3-0.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 96px;
  margin: 37px 0 0 139px;
}

.image_9-0 {
  width: 50px;
  height: 50px;
  margin: 29px 0 0 23px;
}

.text_15-0 {
  width: 110px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 39, 174, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 33px;
  margin: 29px 0 0 102px;
}

.text_16-0 {
  width: 325px;
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
  margin: 24px 0 44px 24px;
}

.list-items_1-1 {
  width: 373px;
  height: 308px;
  background: url(../../img/list-items_1-0.png) -8px -6px
    no-repeat;
  background-size: 389px 324px;
  margin-right: 40px;
}

.list-items_1-1:hover div{
  transform: scale(1.1);
  /* background-color: #1a203b; */
}

.list-items_1-1:hover .text_15-1{
  transform: scale(1.1);
  /* background-color: #1a203b; */
}

.image-wrapper_3-1 {
  height: 108px;
  background: url(../../img/image-wrapper_3-0.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 96px;
  margin: 37px 0 0 139px;
}

.image_9-1 {
  width: 50px;
  height: 50px;
  margin: 29px 0 0 23px;
}

.text_15-1 {
  width: 110px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 39, 174, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 33px;
  margin: 29px 0 0 102px;
}

.text_16-1 {
  width: 325px;
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
  margin: 24px 0 44px 24px;
}

.list-items_1-2 {
  width: 373px;
  height: 308px;
  background: url(../../img/list-items_1-0.png) -8px -6px
    no-repeat;
  background-size: 389px 324px;
  margin-right: 40px;
}

.list-items_1-2:hover div{
  transform: scale(1.1);
  /* background-color: #1a203b; */
}

.list-items_1-2:hover .text_15-2{
  transform: scale(1.1);
  /* background-color: #1a203b; */
}

.image-wrapper_3-2 {
  height: 108px;
  background: url(../../img/image-wrapper_3-0.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 96px;
  margin: 37px 0 0 139px;
}

.image_9-2 {
  width: 50px;
  height: 50px;
  margin: 29px 0 0 23px;
}

.text_15-2 {
  width: 110px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 39, 174, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 33px;
  margin: 29px 0 0 102px;
}

.text_16-2 {
  width: 325px;
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
  margin: 24px 0 44px 24px;
}

.box_2 {
  background-color: #f3f7ff;
  position: relative;
  width: 1920px;
  height: 876px;
  overflow: hidden;
  /* margin: 100px 0 166px 0; */
  margin: 110px 0 166px 0;
}

.text_17 {
  width: 144px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  font-family: SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
  line-height: 54px;
  margin: 60px 0 0 888px;
}

.image_10 {
  width: 169px;
  height: 28px;
  margin: 8px 0 744px 875px;
}

.box_3 {
  background-image: url(../../img/background_app.png);
  position: absolute;
  left: -424px;
  top: 291px;
  width: 2576px;
  height: 585px;
}

.box_4 {
  height: 320px;
  background: url(../../img/box_4.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 278px;
  position: absolute;
  left: 421px;
  top: 176px;
}

.box_4:hover {
  transform: scale(1.1);
}

.group_4 {
  width: 245px;
  height: 283px;
  background: url(../../img/group_4.png) -8px -7px
    no-repeat;
  background-size: 262px 298px;
  margin: 18px 0 0 16px;
}

.image_11 {
  width: 116px;
  height: 110px;
  margin: 59px 0 0 65px;
}

.text_18 {
  width: 80px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 30px;
  margin: 37px 0 57px 80px;
}

.box_5 {
  position: absolute;
  left: 800px;
  top: 176px;
  width: 320px;
  height: 320px;
  background: url(../../img/box_5.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_5:hover {
  transform: scale(1.1);
}

.image_12 {
  width: 141px;
  height: 102px;
  margin: 86px 0 0 86px;
}

.text_19 {
  width: 80px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 30px;
  margin: 36px 0 76px 117px;
}

.box_6 {
  position: absolute;
  left: 1200px;
  top: 176px;
  width: 320px;
  height: 320px;
  background: url(../../img/box_5.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
}

.box_6:hover {
  transform: scale(1.1);
}

.image_13 {
  width: 116px;
  height: 110px;
  margin: 77px 0 0 102px;
}

.text_20 {
  width: 80px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 30px;
  margin: 37px 0 76px 120px;
}

.box_7 {
  position: absolute;
  left: 600px;
  top: 436px;
  width: 320px;
  height: 320px;
  background: url(../../img/box_5.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_7:hover {
  transform: scale(1.1);
}

.image_14 {
  width: 112px;
  height: 121px;
  margin: 71px 0 0 104px;
}

.text_21 {
  width: 80px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 30px;
  margin: 32px 0 76px 120px;
}

.box_8 {
  position: absolute;
  left: 1000px;
  top: 436px;
  width: 320px;
  height: 320px;
  background: url(../../img/box_5.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_8:hover {
  transform: scale(1.1);
}

.image_15 {
  width: 124px;
  height: 92px;
  margin: 86px 0 0 98px;
}

.text_22 {
  width: 80px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(35, 41, 60, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 30px;
  margin: 46px 0 76px 120px;
}

.group_5 {
  background-color: rgba(24, 32, 59, 1);
  height: 223px;
  /* width: 1917px; */
  width: 100%;
  position: absolute;
  left: 0;
  /* top: 3300px; */
  top: 3350px;
}

.box_9 {
  width: 425px;
  height: 102px;
  /* margin: 43px 0 0 735px; */
  margin: 0 0 0 735px;
  flex-direction: row;
  align-items: center;

}

/* .box_10 {
  background-image: url(../../img/index_icon.png);
  width: 28px;
  height: 28px;
} */

.text_23 {
  width: 312px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 33px;
  /* margin-top: 36px; */
}

.box_11 {
  width: 750px;
  height: 21px;
  margin: 17px 0 40px 555px;
  /* gap: 5px; */
}

.image-text_1 {
  width: 130px;
  height: 20px;
  margin-top: 1px;
}

.image_16 {
  width: 21px;
  height: 14px;
  margin-top: 3px;
}

.text-group_1 {
  width: 101px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(222, 222, 222, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.image-text_2 {
  width: 144px;
  height: 20px;
  margin-left: 110px;
}

.thumbnail_1 {
  width: 17px;
  height: 16px;
  margin-top: 2px;
}

.text-group_2 {
  width: 119px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(222, 222, 222, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.image-text_3 {
  width: 180px;
  height: 20px;
  margin: 1px 0 0 48px;
}

.thumbnail_2 {
  width: 16px;
  height: 18px;
  margin-top: 1px;
}

.text-group_3 {
  width: 156px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(222, 222, 222, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}
