<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>任务中心</title> 
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index_task_center.css" />
    <link href="favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <div class="page flex-col">
      <div class="block_1 flex-row">
        <div class="section_1 flex-col">
          <div class="group_1 flex-col"></div>
        </div>
        
        <a href="/"><button class="text_start">平台介绍</button></a>
        
        <a href="/"><button class="text">解决方案</button></a>
        <!-- <a href="/index_task_center"> -->
        <img
          class="image_center"
          referrerpolicy="no-referrer"
          src="../static/imgs/head_line_1.png"
        />
        <button class="text_center" onclick="open_function_introduction()">在线体验</button>
        <img
          class="image_2"
          referrerpolicy="no-referrer"
          src="../static/imgs/head_line_2.png"
        />
      <!-- </a> -->
        <a href="../static/pdf/AI平台介绍文档v8.pdf"><button class="text">帮助文档</button></a>
        <a href="https://icsr.zju.edu.cn"><button class="text">关于我们</button></a>
        <div class="section_2 flex-col" onclick="window.open('https://github.com/AISecurity2030/Attack', '_self')"></div>
      </div>
      <div class="block_2 flex-col">
        <div class="group_2 flex-row justify-between">
          <span class="text_6">平台介绍</span>
          <img
            class="thumbnail_1"
            referrerpolicy="no-referrer"
            src="../static/imgs/thumbnail_1.png"
          />
          <span class="text_7">任务中心</span>
        </div>
        <div class="group_3 flex-row justify-between">
          <div class="box_1 flex-col">
            <button class="section_5 flex-row justify-between" onclick="open_function_introduction()">
              <img
                class="thumbnail_3"
                referrerpolicy="no-referrer"
                src="../static/imgs/thumbnail_3.png"
              />
              <div class="text_10" >功能介绍</div>
            </button>
            <button class="section_4 flex-row justify-between" onclick="open_task_center()">
              <img
                class="thumbnail_4"
                referrerpolicy="no-referrer"
                src="../static/imgs/thumbnail_4.png"
              />
              <div class="text_9" >任务管理</div>
            </button>
          </div>
          <div class="box_2 flex-col">
            <button class="block_3 flex-row" onclick="open_params_1()">
              <img
                class="thumbnail_5"
                referrerpolicy="no-referrer"
                src="../static/imgs/thumbnail_5.png"
              />
              <div class="text_11" >新建任务</div>
            </button>
            <div class="pop_main" style="z-index: 9001; position: absolute; width: 600px; background-color: white; border-radius: 5px; border: 1px solid black; transition: all 0.2s ease 0s; justify-content: center; align-items: flex-end; height: 600px; margin-left: 100px; display: none;">
              <div class="pop_con" style="margin-top:-21px;">
                  <div class="pop_title" style="color:#fff;height:30px;font-size: 18px;margin-top:0px;line-height: 30px;text-align: center;background-color: rgb(70,79,110);">
                      <h3>日志信息<div href="#" onclick="closswindow()" style="color:#fff;width: 15px;height: 15px;border:#ccc solid 1px;float: right;margin-top:5px;margin-right:5px;cursor: pointer;"><p style="font-size: 10px;margin-top:-9px;height:15px">x</p></div></h3>
                      
                  </div>
                  <div class="pop_detail" style="overflow: scroll;height:500px">
                      <p class="pop_text" style="margin-left:5px;margin-right:5px;font-size:14px"></p>
                  </div>
                  <div class="pop_footer">
                      <input type="button" value="取 消" class="cancel" onclick="closswindow()" style="margin-top:20px;margin-left:15px;margin-right:15px;float: right;width:50px;height:30px;background-color: #df4d49;color: white;font-weight: bold;padding: 4px 0;text-align: center;border-radius: 5px;">
                      <input type="button" value="确 定" class="confirm" onclick="closswindow()" style="margin-top:20px;float: right;width:50px;height:30px;background-color: #629b60;color: white;font-weight: bold;padding: 4px 0;text-align: center;border-radius: 5px;">                
                  </div>
              </div>
              <div class="mask"></div>
            </div>
            <div class="text-wrapper_1 flex-row">
              <span class="text_12">序号</span>
              <span class="text_13">任务编号</span>
              <span class="text_14">任务状态</span>
              <span class="text_15">创建时间</span>
              <span class="text_16">任务信息</span>
              <span class="text_17">任务操作</span>
            </div>
            <div id="task_table" class="text_table"></div>
            <div class="block_13 flex-col"></div>
            <div class="block_14 flex-row justify-end">
              <div class="text-wrapper_17">
                <span class="text_58">共</span>
                <span class="text_59" id="Num_of_task"></span>
                <span class="text_60">条</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block_15 flex-col">
        <div class="block_16 flex-row justify-between">
          <div class="box_3 flex-col"><div class="group_5 flex-col"></div></div>
          <span class="text_74">人工智能安全理论及验证平台</span>
        </div>
        <div class="block_17 flex-row justify-between">
          <div class="image-text_1 flex-row justify-between">
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="../static/imgs/email.png"
            />
            <span class="text-group_1">xxxx&#64;xxxx.com</span>
          </div>
          <div class="image-text_2 flex-row justify-between">
            <img
              class="thumbnail_9"
              referrerpolicy="no-referrer"
              src="../static/imgs/tel.png"
            />
            <span class="text-group_2">0571-XXXXXXXXX</span>
          </div>
          <div class="image-text_3 flex-row justify-between">
            <img
              class="thumbnail_10"
              referrerpolicy="no-referrer"
              src="../static/imgs/address.png"
            />
            <span class="text-group_3">浙江省杭州市xxxxxxxxxx</span>
          </div>
        </div>
      </div>
   
    </div>
  </body>
</html>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.6.1.js"></script>
<script type="text/javascript" src="../static/js/flexible.js"></script>
<script type="text/javascript" src="../static/js/use.js"></script>