<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIcert</title>
    <link rel="stylesheet" type="text/css" href="../static/css/indexcss/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css//indexcss/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/indexcss/index.css" />
    <link href="favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <div class="page flex-col">
      <div class="group_1 flex-col">
        <div class="section_1 flex-row">
          <div class="block_1 flex-col">
            <!-- <embed src="../static/img/logo.svg" type="image/svg+xml" style="width: 200px;"> -->
              <svg width="200" height="50" viewBox="0 0 451 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M123.199 98V8H143.199V98H123.199Z" fill="url(#paint0_linear_307_1611)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M62.44 8L114.81 98H91.45L62.45 48.23L33.45 98H10L62.44 8Z" fill="url(#paint1_linear_307_1611)"/>
                <path d="M247.489 57.95H202.879L197.499 78H242.129L236.769 98H172.969L189.039 38H252.879L247.489 57.95Z" fill="url(#paint2_linear_307_1611)"/>
                <path d="M318.509 73.559H275.509L274.349 77.8789H317.349L312.009 97.8789H248.879L264.959 37.8789H328.069L318.509 73.559ZM281.299 51.8389L279.129 59.929H302.049L304.219 51.8389H281.299Z" fill="url(#paint3_linear_307_1611)"/>
                <path d="M400.789 25.9609H421.129L417.889 38.041H442.949L437.579 58.041H412.579L407.199 78.111H438.469L433.149 97.981H381.469L400.789 25.9609Z" fill="url(#paint4_linear_307_1611)"/>
                <path d="M379.05 57.8904L381.47 57.7305L385.47 37.7305L383.05 37.8904C374.625 38.5101 366.359 40.5066 358.58 43.8005L360.15 37.9604H340.15L324.07 97.9604H344.07L352.33 67.1205C360.315 61.838 369.507 58.6627 379.05 57.8904Z" fill="url(#paint5_linear_307_1611)"/>
                <defs>
                <linearGradient id="paint0_linear_307_1611" x1="130.459" y1="35.9" x2="142.279" y2="109.76" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0042EB"/>
                <stop offset="1" stop-color="#17D5FB"/>
                </linearGradient>
                <linearGradient id="paint1_linear_307_1611" x1="50.14" y1="57.21" x2="76.14" y2="143.65" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0042EB"/>
                <stop offset="1" stop-color="#17D5FB"/>
                </linearGradient>
                <linearGradient id="paint2_linear_307_1611" x1="218.41" y1="49.1" x2="218.878" y2="108.463" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0042EB"/>
                <stop offset="1" stop-color="#17D5FB"/>
                </linearGradient>
                <linearGradient id="paint3_linear_307_1611" x1="293.97" y1="48.9889" x2="294.438" y2="108.352" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0042EB"/>
                <stop offset="1" stop-color="#17D5FB"/>
                </linearGradient>
                <linearGradient id="paint4_linear_307_1611" x1="422.935" y1="39.2309" x2="423.967" y2="110.371" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0042EB"/>
                <stop offset="1" stop-color="#17D5FB"/>
                </linearGradient>
                <linearGradient id="paint5_linear_307_1611" x1="360.736" y1="48.8605" x2="361.54" y2="108.353" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0042EB"/>
                <stop offset="1" stop-color="#17D5FB"/>
                </linearGradient>
                </defs>
                </svg>
          </div>
          <img
            class="image_1"
            referrerpolicy="no-referrer"
            src="../static/img/head_line_1.png"
          />
          <a href="/"><button class="text_1">平台介绍</button></a>
          <img
            class="image_2"
            referrerpolicy="no-referrer"
            src="../static/img/head_line_2.png"
          />
          <!-- <a href="/"><button class="text_index">解决方案</button></a> -->
          <!-- <a href="/index_task_center"><button class="text_3">在线体验</button></a> -->
          <button class="text_index" onclick="open_function_introduction()">在线体验</button>
          <a href="../static/pdf/AI平台介绍文档v8.pdf"><button class="text_index">帮助文档</button></a>
          <a href="https://icsr.zju.edu.cn"><button class="text_index">关于我们</button></a>
          <div class="block_2 flex-col" onclick="window.open('https://github.com/ZJUICSR/AIcert', '_self')"></div>
        </div>
        <div class="text-wrapper_1 flex-row">
          <span class="text_6">人工智能<br>安全理论及验证平台</span>
        </div>
        <div class="text-wrapper_2 flex-row">
          <span class="text_7">聚焦人工智能系统全链路安全威胁，提供一站式安全检测和多维度评估，助力人工智能系统安全防护。</span>
        </div>
      </div>
      <div class="group_2 flex-col">
        <span class="text_8">系统架构图</span>
        <video class="image_4" loop autoplay muted>
          <source src="../static/img/architecture.mp4" type="video/mp4">
        </video>
        <div class="box_1 flex-col">
          <div class="section_2 flex-col">
            <span class="text_14">平台功能</span>
            <img class="image_5" referrerpolicy="no-referrer" src="../static/img/head_line_3.png" />
            <div class="pc-banner">
              <div class="swiper-container swiper-container-horizontal">
                  <div class="swiper-wrapper" style="transform: translate3d(-1080px, 0px, 0px); transition-duration: 1000ms;">
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="21"  >
                      <img src="../static/img/swiper/数据公平性提升.png" onclick="goto_dataFairnessDebias()"> 
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="22"  >
                      <img src="../static/img/swiper/异常数据检测.png" onclick="goto_dataClean()">
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0"  >
                      <img src="../static/img/swiper/AI模型安全度量.png" onclick="goto_modelMeasure() ">
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="1"  >
                      <img src="../static/img/swiper/对抗攻击评估.png" onclick="goto_adv_attack()">
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="2"  >
                      <img src="../static/img/swiper/后门攻击评估.png" onclick="goto_bkd_attack()">
                    </div>
                    <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3"  >
                      <img src="../static/img/swiper/模型对抗性测试.png" onclick="goto_autoattack()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4"  >
                      <img src="../static/img/swiper/模型公平性评估.png" onclick="modelFairnessEva()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="5"  >
                      <img src="../static/img/swiper/形式化验证.png" onclick="goto_formal_verification()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="6"  >
                      <img src="../static/img/swiper/对抗攻击防御.png" onclick="goto_advAttackDefense()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="7"  >
                      <img src="../static/img/swiper/后门攻击防御.png" onclick="goto_backdoorDefense()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="8"  >
                      <img src="../static/img/swiper/模型鲁棒性训练.png" onclick="goto_robust_advTraining()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="9"  >
                      <img src="../static/img/swiper/模型公平性提升.png" onclick="goto_modelFairnessDebias()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="10"  >
                      <img src="../static/img/swiper/模型群智化防御.png" onclick="goto_crowdDefense()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="11"  >
                      <img src="../static/img/swiper/AI模型模块化开发.png" onclick="goto_modularDevelop()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="12"  >
                      <img src="../static/img/swiper/标准化单元测试.png" onclick="goto_coverage_neural()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="13"  >
                      <img src="../static/img/swiper/攻击机理分析.png" onclick="goto_exMethod()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="14"  >
                      <img src="../static/img/swiper/AI开发框架安全结构度量.png" onclick="goto_frameworkTest()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="15"  >
                      <img src="../static/img/swiper/开发环境分析与框架适配.png" onclick="goto_envTest()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="16"  >
                      <img src="../static/img/swiper/侧信道分析.png" onclick="goto_side()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="17"  >
                      <img src="../static/img/swiper/故障注入验证.png" onclick="goto_inject()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="18"  >
                      <img src="../static/img/swiper/基于硬件优化的软硬件一体化验证.png" onclick="goto_hardOpt()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="19"  >
                      <img src="../static/img/swiper/测试样本自动生成.png" onclick="goto_concolic()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="20"  >
                      <img src="../static/img/swiper/数据公平性评估.png" onclick="goto_dataFairnessEva()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="21"  >
                      <img src="../static/img/swiper/数据公平性提升.png" onclick="goto_dataFairnessDebias()">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="22"  >
                      <img src="../static/img/swiper/异常数据检测.png" onclick="goto_dataClean()">
                    </div>
                    <!--  -->
                    <div class="swiper-slide swiper-slide-center none-effect swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0"  >
                      <img src="../static/img/swiper/AI模型安全度量.png" onclick="goto_modelMeasure() ">
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1"  >
                      <img src="../static/img/swiper/对抗攻击评估.png" onclick="goto_adv_attack()">
                    </div>
                  </div>
                </div> 
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
            </div>
            <div class="button">
              <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
        <span class="text_14">平台优势</span>
        <img
          class="image_8"
          referrerpolicy="no-referrer"
          src="../static/img/head_line_3.png"
        />
        <div class="list_1 flex-row">
          <div class="list-items_1-0 flex-col">
            <div class="image-wrapper_3-0 flex-col">
              <img
                class="image_9-0"
                referrerpolicy="no-referrer"
                src="../static/img/advantage_1.png"
              />
            </div>
            <!-- <span class="text_15-0">一站式检测</span> -->
            <span class="text_15-0">多层面全栈威胁感知</span>
            <span class="text_16-0">
              <!-- 平台对人工智能数据和模型进行安全性评估并给出加固方案，用户无需切换多个平台，实现一站式检测。 -->
              深度检测AI系统全架构各个关键节点的安全威胁，深入挖掘AI系统漏洞，全面地评估AI系统的安全状况，及时发现并消除威胁。
            </span>
          </div>
          <div class="list-items_1-1 flex-col">
            <div class="image-wrapper_3-1 flex-col">
              <img
                class="image_9-1"
                referrerpolicy="no-referrer"
                src="../static/img/advantage_2.png"
              />
            </div>
            
            <!-- <span class="text_15-1">场景可拓展</span> -->
            <span class="text_15-1">多维度安全评估</span>
            <span class="text_16-1">
              <!-- 平台内置多场景数据和模型，同时支持自定义数据集和模型算法上传，平台核心能力得到充分发挥。 -->
              <!--基于组件式系统建模思想，从数据处理、模型构建、运行环境安全检测等环节保障开发过程安全，实现了AI系统的安全开发。-->
              从鲁棒性、公平性、完整性、可靠性、可解释性、可验证性六个不同的维度，能够帮助用户更全面、客观的认知人工智能系统的安全性。
            </span>
          </div>
          <div class="list-items_1-2 flex-col">
            <div class="image-wrapper_3-2 flex-col">
              <img
                class="image_9-2"
                referrerpolicy="no-referrer"
                src="../static/img/advantage_3.png"
              />
            </div>
            <!-- <span class="text_15-2">全周期评估</span> -->
            <span class="text_15-2">协同安全防御</span>
            <span class="text_16-2">
              针对AI系统复杂多变的外部威胁以及单点防御机制单薄等现象，提供群智防御、纳什博弈等方法，制定特定场景下的最佳防御策略
            </span>
          </div>
        </div>
        
        <div class="box_2 flex-col">
          <span class="text_17">行业应用</span>
          <img
            class="image_10"
            referrerpolicy="no-referrer"
            src="../static/img/head_line_3.png"
          />
          <div class="box_3 flex-col"></div>
          <div class="box_4 flex-col">
            <div class="group_4 flex-col">
              <img
                class="image_11"
                referrerpolicy="no-referrer"
                src="../static/img/app_1.png"
              />
              <span class="text_18">人脸识别</span>
            </div>
          </div>
          <div class="box_5 flex-col">
            <img
              class="image_12"
              referrerpolicy="no-referrer"
              src="../static/img/app_2.png"
            />
            <span class="text_19">自动驾驶</span>
          </div>
          <div class="box_6 flex-col">
            <img
              class="image_13"
              referrerpolicy="no-referrer"
              src="../static/img/app_3.png"
            />
            <span class="text_20">语音识别</span>
          </div>
          <div class="box_7 flex-col">
            <img
              class="image_14"
              referrerpolicy="no-referrer"
              src="../static/img/app_4.png"
            />
            <span class="text_21">智慧城市</span>
          </div>
          <div class="box_8 flex-col">
            <img
              class="image_15"
              referrerpolicy="no-referrer"
              src="../static/img/app_5.png"
            />
            <span class="text_22">用户画像</span>
          </div>
        </div>
        <div id='partner'>
          
          <!-- 参与单位  -->
          <!--<ul class='partnerUl'>
            <li>
              <img src='../static/img/index/ZJU.png' alt='浙江大学' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/WHU.png' alt='武汉大学' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/XAJTU.png' alt='西安交通大学' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/NJU.png' alt='南京航空航天大学' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/NWPU.png' alt='西北工业大学' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/Alibaba.png' alt='阿里巴巴' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/SDCSC.png' alt='山东省计算中心' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/SFTJ.png' alt='四方天箭' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/PPSU.png' alt='中国人民公安大学' class="partnerImg">
            </li>
          </ul> -->
          <ul class='partnerUl'>
            <li>
              <img src='../static/img/index/TB.png' alt='淘宝（中国）软件有限公司' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/ANT.png' alt='蚂蚁金服（杭州）网络科技有限公司' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/City.png' alt='杭州城市大脑有限公司' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/MD.png' alt='西安蒙顿信息科技有限公司' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/CRRC.png' alt='中车株洲电力机车研究所有限公司' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/SFTJ.png' alt='湖南四方天箭信息科技有限公司' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/SDCSC.png' alt='山东省计算中心' class="partnerImg">
            </li>
            <li>
              <img src='../static/img/index/OPPO.png' alt='OPPO广东移动通信有限公司' class="partnerImg">
            </li>
          </ul>
  
        </div>
      </div>
      
      <div class="group_5 flex-col">
        <div class="box_9 flex-row justify-between" >
          <div class="box_10 flex-col">
            <svg width="100" height="25" viewBox="0 0 451 106" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M123.199 98V8H143.199V98H123.199Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M62.44 8L114.81 98H91.45L62.45 48.23L33.45 98H10L62.44 8Z" fill="white"/>
              <path d="M247.489 57.95H202.879L197.499 78H242.129L236.769 98H172.969L189.039 38H252.879L247.489 57.95Z" fill="white"/>
              <path d="M318.509 73.559H275.509L274.349 77.8789H317.349L312.009 97.8789H248.879L264.959 37.8789H328.069L318.509 73.559ZM281.299 51.8389L279.129 59.929H302.049L304.219 51.8389H281.299Z" fill="white"/>
              <path d="M400.789 25.9609H421.129L417.889 38.041H442.949L437.579 58.041H412.579L407.199 78.111H438.469L433.149 97.981H381.469L400.789 25.9609Z" fill="white"/>
              <path d="M379.05 57.8904L381.47 57.7305L385.47 37.7305L383.05 37.8904C374.625 38.5101 366.359 40.5066 358.58 43.8005L360.15 37.9604H340.15L324.07 97.9604H344.07L352.33 67.1205C360.315 61.838 369.507 58.6627 379.05 57.8904Z" fill="white"/>
              </svg>
          </div>
          <span class="text_23">人工智能安全理论及验证平台</span>
        </div>
        <div class="box_11 flex-row justify-between">
          <div class="image-text_1 flex-row justify-between" style="gap: 10px;">
            <img
              class="image_16"
              referrerpolicy="no-referrer"
              src="../static/img/email.png"
            />
            <span class="text-group_1">zju.aicert&#64;gmail.com</span>
          </div>
          <div class="image-text_2 flex-row justify-between">
            <img
              class="thumbnail_1"
              referrerpolicy="no-referrer"
              src="../static/img/tel.png"
            />
            <span class="text-group_2">0571-87951559</span>
          </div>
          <div class="image-text_3 flex-row justify-between">
            <img
              class="thumbnail_2"
              referrerpolicy="no-referrer"
              src="../static/img/address.png"
            />
            <span class="text-group_3">浙江省杭州市西湖区浙大路38号</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript" src="../static/js/indexjs/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/indexjs/jquery-3.6.1.js"></script>
<script type="text/javascript" src="../static/js/indexjs/swiper.min.js"></script>
<script type="text/javascript" src="../static/js/indexjs/flexible.js"></script>
<script type="text/javascript" src="../static/js/indexjs/index.js"></script>
<script type="text/javascript" src="../static/js/indexjs/use.js"></script>
