<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index_functions.css" />
    <link href="favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <div class="page flex-col">
      <div class="block_1 flex-row">
        <div class="group_1 flex-col"></div>
        
        <a href="/"><button class="text_start">平台介绍</button></a>
        
        <a href="/"><button class="text">解决方案</button></a>
        <!-- <a href="/index_task_center"><button class="text_3">在线体验</button></a> -->
        <img
          class="image_center"
          referrerpolicy="no-referrer"
          src="../static/imgs/head_line_1.png"
        />
        <button class="text_center" onclick="open_task_center()">在线体验</button>
        <img
          class="image_2"
          referrerpolicy="no-referrer"
          src="../static/imgs/head_line_2.png"
        />
        <a href="../static/pdf/AI平台介绍文档v8.pdf"><button class="text">帮助文档</button></a>
        <a href="https://icsr.zju.edu.cn"><button class="text">关于我们</button></a>
        <div class="group_2 flex-col" onclick="window.open('https://github.com/AISecurity2030/Attack', '_self')"></div>
      </div>
      <div class="block_2 flex-col">
        <div class="group_3 flex-row justify-between">
          <span class="text_6">平台介绍</span>
          <img
            class="thumbnail_1"
            referrerpolicy="no-referrer"
            src="../static/imgs/thumbnail_1.png"
          />
          <span class="text_7">任务中心</span>
          <img
            class="thumbnail_2"
            referrerpolicy="no-referrer"
            src="../static/imgs/thumbnail_1.png"
          />
          <span class="text_8">参数设置</span>
        </div>
        <div class="switch_function flex-row">
            <div class="box_1 flex-col">
              <button class="section_4 flex-row justify-between" onclick="open_function_introduction()">
                <!-- <img
                  class="function"
                  referrerpolicy="no-referrer"
                  src="../static/imgs/thumbnail_3.png"
                /> -->
                <div class="text_9" >功能介绍</div>
              </button>
              <button class="section_4 flex-row justify-between" onclick="open_task_center()">
                <!-- <img
                  class="thumbnail_4"
                  referrerpolicy="no-referrer"
                  src="../static/imgs/thumbnail_4.png"
                /> -->
                <div class="text_10" >任务管理</div>
              </button>
            </div>
          <div class="group_4 flex-col">
            <div class="group_6 flex-row">
              <div class="group_7 flex-col"></div>
              <span class="text_15">数据集</span>
              <div class="group_8 flex-col"></div>
              <span class="text_16">模型</span>
            </div>
            <div class="grid_1 flex-row">
              <div class="group_9 flex-row dropdown">
                <button class="section_2 flex-row dropbtn">
                  <div class="image-text_1 flex-row justify-between ">
                    <img
                      class="thumbnail_3"
                      referrerpolicy="no-referrer"
                      src="../static/imgs/dataset.png"
                    />
                    <span class="text-group_1">请选择数据集</span>
                    <div class="dropdown-content"> 
                      <p id="dataset_mnist" onclick="select_mnist()">MNIST</p>
                      <p id="dataset_cifar10" onclick="select_cifar10()">CIFAR10</p>
                    </div>
                  </div>
                  <img
                    class="thumbnail_4"
                    referrerpolicy="no-referrer"
                    src="../static/imgs/thumbnail_9.png"
                  />
                </button>
                <div class="text_choose flex-row">
                  <p class="text_17 ">已选择数据集：</p>  
                  <p class="text_17" id="dataset_choose"></p>
                </div>
              </div>
              <div class="group_10 flex-row dropdown">
                <button class="section_2 flex-row dropbtn">
                  <div class="image-text_1 flex-row justify-between">
                    
                    <img
                      class="thumbnail_3"
                      referrerpolicy="no-referrer"
                      src="../static/imgs/thumbnail_10.png"
                    />
                    <span class="text-group_1">请选择模型</span>
                    <div class="dropdown-content"> 
                      <p id="model_vgg" onclick="select_vgg16()">VGG16</p>
                      <p id="model_resnet" onclick="select_resnet34()">ResNet34</p>
                    </div>
                  </div>
                  <img
                    class="thumbnail_4"
                    referrerpolicy="no-referrer"
                    src="../static/imgs/thumbnail_9.png"
                  />
                </button>
                <div class="text_choose flex-row">
                  <p class="text_17 ">已选择模型：</p>  
                  <p class="text_17" id="model_choose"></p>
                </div>
              </div>
              <div class="image-wrapper_1 flex-col" id="div1">
                <a href="#"><img src="" class="dataset_
                  display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
                <a href="#"><img src="" class="dataset_display"></a>
            </div>
              <div class="image-wrapper_2 flex-col">
                <img id="model_img"
                  class="image_4"
                  referrerpolicy="no-referrer"
                  alt=""
                />
              </div>
            </div>
            <img
              class="image_5"
              referrerpolicy="no-referrer"
              src="../static/imgs/white_line.png"
            />
            <div class="group_11 flex-row justify-between">
              <button class="text-wrapper_3 flex-col">
                <span class="text_19" onclick="open_task_center()">取消创建</span>
              </button>
              <button class="text-wrapper_4 flex-col">
                <span class="text_20" onclick="check_params_and_next_step()">下一步</span>
              </button>
            </div>
          </div>
        </div>
        
      </div>
      <div class="block_3 flex-col">
        <div class="block_4 flex-row justify-between">
          <div class="box_4 flex-col"></div>
          <span class="text_23">人工智能安全理论及验证平台</span>
        </div>
        <div class="block_5 flex-row justify-between">
          <div class="image-text_3 flex-row justify-between">
            <img
              class="image_6"
              referrerpolicy="no-referrer"
              src="../static/imgs/email.png"
            />
            <span class="text-group_3">xxxx&#64;xxxx.com</span>
          </div>
          <div class="image-text_4 flex-row justify-between">
            <img
              class="thumbnail_7"
              referrerpolicy="no-referrer"
              src="../static/imgs/tel.png"
            />
            <span class="text-group_4">0571-XXXXXXXXX</span>
          </div>
          <div class="image-text_5 flex-row justify-between">
            <img
              class="thumbnail_8"
              referrerpolicy="no-referrer"
              src="../static/imgs/address.png"
            />
            <span class="text-group_5">浙江省杭州市xxxxxxxxxx</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/dataset.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.6.1.js"></script>
<script type="text/javascript" src="../static/js/flexible.js"></script>
<script type="text/javascript" src="../static/js/use.js"></script>