<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>鲁棒性</title>
    <link rel="stylesheet" type="text/css" href="../static/css/html5tooltips.css" />
<link rel="stylesheet" type="text/css" href="../static/css/html5tooltips.animation.css" />
<script type="text/javascript" src="../static/js/html5tooltips.js"></script>
    <link rel="stylesheet" href="../static/css/hd1.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/public.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/css/custom-dialog.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup/dist/magnific-popup.css">
    <style>
        img {
            pointer-events: none;
        }

        #logDiv {
            margin-top: 3%;
            margin-left: 5%;
            color: aliceblue;
            font-size: medium;
            overflow: scroll;
            height: 90%;
            width: 90%;
        }

        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: transparent;
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 8px transparent;
            border-radius: 2px;
            background-color: transparent;
        }
    </style>
</head>

<body>
    <div class="pltheader pltscrollTop">
        <h1 class="pltlogo">
            <p>鲁棒性形式化验证</p>
        </h1>
        <div class="plth-inner">
            <div class="pltnav">

                <ul class="pltnav-ul">
                    <li class="pltnav-item"><a href="http://10.15.201.88:14581/">首页</a>
                    </li>
                    <li class="pltnav-item"><a href="">AI软硬件协同安全攻防测试</a>
                        <ul class="plter">
                            <li><a href="http://10.15.201.88:14581/get_adv_input">【指标5.1】软硬件协同攻防测试</a></li>
                            <li><a href="http://10.15.201.88:14581/get_gnn_input">【指标4.1】模型鲁棒性训练</a></li>
                        </ul>
                    </li>
                    <li class="pltnav-item"><a href="" class="pltactive">AI软硬件协同安全性能验证</a>
                        <ul class="plter">
                            <li><a href="{{url_for('side')}}">【指标3.1/5.2】侧信道分析</a></li>
                            <li><a href="{{url_for('inject')}}">【指标3.2/5.2】故障注入</a></li>
                            <li><a href="{{url_for('robust')}}" class="pltactive">【指标4.2/5.2】鲁棒性形式化验证</a></li>
                        </ul>
                    </li>
                    <li class="pltnav-item"><a href="">全周期安全性评估</a>
                        <ul class="plter">
                            <li><a href="http://10.15.201.88:14583/DataCollection">全周期安全性评估</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="particles-js" class="main">
        <div class="main_con">
            <div class="main_top" style="margin-bottom: 50px;margin-top: 54px;">
                <div class="main_top_middle" style="margin-left:18%;">
                    <div class="main_top_middle_top_title">
                        <img class="title_bg" src="../static/images/title_bg.png" style="height: 800%;">
                        AI系统安全防御与验证评测平台
                    </div>
                </div>
            </div>


            <div class="main_bottom">
                <div style="width: 20%;height: 100%; position: relative; float: left;">
                    <img src="../static/images/main_top_bottom2.png"
                        style="position: absolute;height: 100%; width: 100%;pointer-events: none;">
                    <div class="main_top_echarts_con_title">输入选项</div>
                    <div id="popDiv" class="mfp-hide popup-container">
                        <!--  下图为背景边框   -->
                        <img src="../static/images/main_top_bottom.png" class="popup-background">
                        <!--  由于背景边框未铺满，使用绝对定位 设置四周边距  -->
                        <div class="popup-content-wrapper">
                            <div class="popup-content-container">
                                <!--  所有弹框内容需要放置在 popup-content 类中  -->
                                <div class="popup-content">
                                    <div id="dataset_text"
                                        style="padding: 7% 10% 5% 10%;color: white;font-size: large;">

                                    </div>
                                    <div style="width: 400px;margin: 0 auto;">
                                        <img src="" alt="" id="dataset_img" style="width: 400px;height: 400px;">
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 85%;padding: 5%;margin-left: 5%;" class="uploadDiv">
                        <div>
                            <h5>数据集</h5>
                            <select name="" class="form-control" id="selectDataset">
                                <option value="" disabled selected hidden>请选择数据集</option>

                                <option id="s1" value="mnist">MNIST</option>
                                <option value="cifar">CIFAR-10</option>
                                <option value="gtsrb">GTSRB</option>
                                <option value="mtfl">MTFL</option>
                                <option value="sst">SST</option>

                            </select>
                        </div>
                        <div>
                            <h5>模型</h5>
                            <select name="" class="form-control" id="selectModel" style="pointer-events: none; -webkit-appearance: none;
                            appearance: none;">

                                <option value="" disabled selected hidden>数据集与模型匹配</option>
                                <option value="cnn">CNN</option>
                                <option value="lstm">LSTM</option>
                                <option value="resnet18">RESNET18</option>

                            </select>
                        </div>
                        <div>
                            <h5>数据集大小</h5>
                            <input type="text" class="form-control" placeholder="输入范围：1-10" id="dataset_size"
                                onchange="testInput(this.id)">
                        </div>
                        <div>
                            <h5>最大扰动值</h5>
                            <input type="text" class="form-control" placeholder="输入小于 1.0" id="max_move"
                            onchange="testInput(this.id)">
                        </div>
                        <div>
                            <h5>最小扰动值</h5>
                            <input type="text" class="form-control" placeholder="输入大于 0,小于最大扰动值" id="min_move"
                                onchange="testInput(this.id)">
                        </div>
                        <div>
                            <h5>扰动次数</h5>
                            <input type="text" class="form-control" placeholder="输入范围： 1-6" id="move_times"
                                onchange="testInput(this.id)">
                        </div>
                        <div class="btndiv" style="margin-top: 10%;">
                            <button class="filebtn" onclick="upload()">提交</button>
                        </div>
                    </div>
                </div>
                <div style="width: 60%;height: 100%; position: relative; float: left;">
                    <img src="../static/images/main_top_bottom2.png"
                        style="position: absolute;height: 100%; width: 100%;">
                    <div
                        style="width: 95%;height: 40%; position: relative; float: left; margin-left: 22px;margin-top: 10px;">
                        <img src="../static/images/main_top_bottom.png"
                            style="position: absolute;height: 100%; width: 100%;">
                        <div class="main_top_echarts_con_title">鲁棒性形式化验证</div>
                        <div
                            style="width: 70%;height: 90%; margin-left: 3%; margin-top: 0%;display: inline-block;float: left;">
                            <img src="../static/images/robust.png" style="height: 100%;width: 100%;" />
                        </div>

                        <div style="display: inline-block;width: 22%;height: 80%; color: white;font-size: 1vw;line-height:26px;
                            border-left: mediumspringgreen 3px solid;padding-left: 2%;line-height: 3vh;">
                            该分析方法可在指定的扰动区间内，量化模型输出在各个维度的波动范围，计算对抗样本存在的概率，评估AI模型鲁棒性。
                        </div>

                    </div>

                    <div
                        style="width: 95%;height: 55%; position: relative; float: left; margin-left: 22px;margin-top: 5px;">
                        <img src="../static/images/main_top_bottom.png"
                            style="position: absolute;height: 100%; width: 100%;">
                        <div class="main_top_echarts_con_title" id="popResult">曲线</div>
                        
                        <div id="eps_line" style="width: 90%; height: 90%; float: left;">
                        </div>
                    </div>
                    <div id="popResultDiv" class="mfp-hide popup-container">
                        <!--  下图为背景边框   -->
                        <img src="../static/images/main_top_bottom.png" class="popup-background">
                        <!--  由于背景边框未铺满，使用绝对定位 设置四周边距  -->
                        <div class="popup-content-wrapper">
                            <div class="popup-content-container">
                                <!--  所有弹框内容需要放置在 popup-content 类中  -->
                                <div class="popup-content">
                                    <div id="result_text" style="padding: 7% 10% 5% 10%;color: white;font-size: large;">
                                        <p style="font-size: x-large;">指标完成情况：</p>
                                        <p>1.2 模型形式化验证方法</p>
                                        <img src="../static/images/checkmark-square.svg" class="icon" />
                                        <span> 实现 ≥ 1 种支持各类激活函数的鲁棒性形式化验证算法</span>
                                        <p>relu, sigmoid, tanh, leaklyrelu</p>
                                        <img src="../static/images/checkmark-square.svg" class="icon" />
                                        <span>模型参数规模 ≥ 100 万</span>
                                        <p>mnist:166,406</p>
                                        <p>cifar:11,420</p>
                                        <p>gtsrb:1,715,568</p>
                                        <p>MTFL:25,097</p>
                                        <p>SST-2:524,098</p>
                    
                                        <img src="../static/images/checkmark-square.svg" class="icon" />
                                        <span id = "ds"></span><span>系统响应时间 ≤ 5s（单位：秒）</span>
                        
                                        <p id="responseTime"></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="width: 20%;height: 100%; position: relative; float: left;">
                    <img src="../static/images/main_top_bottom2.png"
                        style="position: absolute;height: 100%; width: 100%;">
                    <div class="main_top_echarts_con_title">日志</div>

                        
                        <progress max="100" value="0" id="pg" style="width: 80%;height: 5%;margin-left: 7%;margin-top: 80%;"></progress>
                        <p id = "loadingText" style="margin-left: 38%;font-size: larger;margin-top: 2%;color: #fff;">模型加载中...</p>    
                        
                    
                    <div id="logDiv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/dataScoll.js"></script>
<script type="text/javascript" src="../static/js/digitalScroll.js"></script>
<script type="text/javascript" src="../static/js/jcarousellite.js"></script>
<script type="text/javascript" src="../static/js/particles.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/use.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">

    for(var i=10;i--;)
      html5tooltips([
        {
          contentText: "输入范围建议值",
          contentMore: "MNIST选择5-10，CIFAR-10选择2-5，GTSRB选择5-10，MTFL选择2-5，SST-2选择2-5",
          targetSelector: "#dataset_size",
          stickTo: "right",
          color:'metalic silver',
          maxWidth: 180,
          persistent: true
        },
        {
          contentText: "最大扰动建议值",
          contentMore: "选择0.02-0.08之间",
          targetSelector: "#max_move",
          stickTo: "right",
          color:'metalic silver',
          maxWidth: 180,
          persistent: true
        },
        {
          contentText: "最小扰动建议值",
          contentMore: "选择0.02-0.08之间",
          targetSelector: "#min_move",
          stickTo: "right",
          color:'metalic silver',
          maxWidth: 180,
          persistent: true
        },
        {
          contentText: "扰动次数建议值",
          contentMore: "4-6次",
          targetSelector: "#move_times",
          stickTo: "right",
          color:'metalic silver',
          maxWidth: 180,
          persistent: true
        }
      ]);
    
    
    for(var i=10;i--;)
      html5tooltips.refresh();
    
    
    </script>
<script>
    var indexLog = 0;
    var Eof = false;
    var responseTime = -1;
    $("#pg").hide();
    $("#loadingText").hide();
    var dataInfo = {
        "cifar": "CIFAR-10：CIFAR-10数据集由CIFAR(Candian Institute For Advanced Research) 收集整理的一个用于机器学习和图像识别问题的数据集。该数据集由10个类别的共计60,000个32x32彩色图像组成，每个类有6000个图像。",
        "mnist": "MNIST：MNIST数据集(Mixed National Institute of Standards and Technology database)是美国国家标准与技术研究院收集整理的大型手写数字数据库，该数据集由10个类别的共计70,000个28*28像素的灰度图像组成，每个类有7,000个图像。",
        "gtsrb": "GTSRB：GSTSTB（German Traffic Sign Recognition Benchmark）是德国交通标志数据集，该数据集数据集包由43个类别的共计51,839幅像素不等的采自真实交通环境下的交通标志图像组成，其中训练和测试图像分别为39,209和12,630幅。(自动驾驶场景)",
        "sst": "SST-2：SST-2(The Stanford Sentiment Treebank，斯坦福情感树库)，该数据集包含电影评论中的句子和它们情感的人类注释，是针对给定句子的情感倾向二分类数据集，类别分为两类正面情感（positive，样本标签对应为1）和负面情感（negative，样本标签对应为0）。该数据集包含了67, 350个训练样本，1, 821个测试样本。（用户画像场景）",
        "mtfl": "Multi- Task Facial landmark(MTFL)数据集,(人脸识别数据集,识别男女性别)，该数据集由来自网络的12995张像素大小不等的真实人脸图片组成,该数据集标注了每张图片的五官坐标及人脸朝向等信息。（人脸识别场景）"
    };
    //进度条
    var pg=document.getElementById('pg');
    var stop = false;
    function loadbar(){
    console.log("yunxing zhogn ")
    timer=setInterval(()=>{
	if(pg.value===97 || stop){
		clearInterval(timer);
		timer=null;
	};
	pg.value++;
},800);

    }
    //输入检查
    function testInput(id){
        var input=document.getElementById(id).value;
        if(id == "dataset_size"){
            console.log(input);
            var inputValueFilter=/^[1-2][0-9][0-9]$|^[1-9]$|^[1-9][0-9]$/;
            
            if(!inputValueFilter.test(input)){alert("请正确输入数据集规模！");document.getElementById(id).value = ""; ;}
        }
        if(id == "move_times"){
            console.log(input);
            var inputValueFilter=/^[1-6]$/;
            
            if(!inputValueFilter.test(input)){alert("请正确输入扰动次数！");document.getElementById(id).value = ""; ;}
        }
        if(id == "max_move"){
            console.log(input);
            var inputValueFilter=/^[0]\.[\d]+$/;
            
            if(!inputValueFilter.test(input)){alert("请正确输入最大扰动值！");document.getElementById(id).value = ""; ;}
        }
        if(id == "min_move"){
            console.log(input);
            console.log("##");
            
            var inputValueFilter=/^[0]\.[\d]+$/;
            if(document.getElementById("max_move").value == ""){alert("请先输入最大扰动值！");document.getElementById(id).value = "";}
            else if(!inputValueFilter.test(input) || parseFloat(document.getElementById("max_move").value)<parseFloat(document.getElementById("min_move").value)){alert("请正确输入最小扰动值！");document.getElementById(id).value = "";}
        }
    }
    function logLoading(){
    
        Eof = false;

    var drawData = {};
    //设置循环
    var timer=setInterval(()=>{
	if(Eof == true){
        $("#responseTime").html($("#selectDataset").val()+"("+responseTime+")");
        indexLog = 0;
		clearInterval(timer);
		timer=null;
        draw(drawData);
	};
    $.ajax({
            type: "POST",
            cache: false,
            data: {task_id:tid},
            url: "/lirpa_logs",
            dataType: "json",
            success: function (res) {
                //判断结束标志
                Eof = res.Eof;
                drawData = res.drawData;
                responseTime = res.responseTime;
                if(res.data.length > 0){
                    $("#pg").hide();
                    $("#loadingText").hide();
                    $("#logDiv").show();
                    pg.value = 0;
                    stop = true;
                    flag = true;
                    // Eof = false;
                    $('#verify').html("验证完成")
                    $('#btn').show()  
                    
                    //输出当前日志
                    var cur = $('#logDiv').html();
                    for(var i = 0; i < res.data.length; i++){
                        cur = cur + '<p>' + res.data[i].logs + '</p>';
                        $('#logDiv').html(cur);
                    }
                    
                    var div = document.getElementById("logDiv");
                    div.scrollTop = div.scrollHeight;
                }
            },
            error: function (jqXHR) {
                console.error(jqXHR);
            }
        });

},500);
    }
    //提交函数
    async function upload() {
        var dataset = $('#selectDataset option:selected').val();
        var model = $('#selectModel option:selected').val();
        var datasetSize = $('#dataset_size').val();
        var maxMove = document.getElementById('max_move').value
        var minMove = document.getElementById('min_move').value
        var moveTimes = document.getElementById('move_times').value
        console.log("参数确认：")
        console.log(dataset, model, datasetSize, maxMove, minMove, moveTimes);
        if(dataset == "" || model == "" || datasetSize == "" || maxMove == "" || minMove == "" || moveTimes == ""){
            alert("请确认输入选项不为空！"); return;
        }
        $("#pg").show();
        $("#loadingText").show();
        $("#logDiv").hide();
        
        stop = false;
        loadbar();
        var cur = "";
        $('#logDiv').html(cur);
        max = 100;
        tid = Math.floor(Math.random()*(max+1));
        console.log(tid);

        
        data = {
            dataset: dataset,
            model: model,
            size: datasetSize,
            up_eps: maxMove,
            down_eps: minMove,
            steps: moveTimes,
            type: "forward",
            task_id:tid
        }

        $.ajax({
            type: "POST",
            cache: false,
            data: data,
            url: "/robust",
            dataType: "json",
            success: function (res) {
               
                // $("#pg").hide();
                // $("#logDiv").show();
                // pg.value = 0;
                // stop = true;
                // flag = true;
                // Eof = false;
                // $('#verify').html("验证完成")
                // $('#btn').show()  
                // logLoading();
                // draw(res.data,);
                // showLogs(res.data.output_param);
                
            },
            error: function (jqXHR) {
                console.error(jqXHR);
            }
        });
        
        logLoading();
    }

    //曲线画图
    function draw(data) {
        console.log("同步 绘制");
        var l1 = data.output_param.FGSM;
        var l2 = data.output_param.LiRPA;
        var epsDom = document.getElementById('eps_line');
        var epsChart = echarts.init(epsDom);
        var eps_option = {

            grid: {
                top: 30
            },
            tooltip: { trigger: 'axis', axisPointer: { lineStyle: { color: '#fff' } } },
            legend: {
                icon: 'rect',
                itemWidth: 14, itemHeight: 5, itemGap: 10,
                right: '10px', top: '0px',
                textStyle: { fontSize: 12, color: '#fff' }
            },

            xAxis: {
                type: 'category',
                name: "扰动值",
                data: l1.eps,

                axisLine: { lineStyle: { color: '#fff' } },
                splitLine: { lineStyle: { color: '#57617B' } },
                axisLabel: {
                    fontSize: 12,
                    color: "rgba(4, 249, 208, 1)",
                    fontWeight: "bolder",
                    textBorderColor: "rgba(139, 238, 103, 0.98)",
                    textBorderWidth: 0.5,
                    textBorderType: "solid"
                },
                axisTick: {
                    alignWithLable: true
                },
            },
            yAxis: {
                type: 'value',
                name: "成功率",
                axisLine: { lineStyle: { color: '#fff' } },
                splitLine: { lineStyle: { color: '#57617B' } },
                axisLabel: {
                    formatter: '{value}',
                    fontSize: 12,
                    color: "rgba(4, 249, 208, 1)",
                    fontWeight: "bolder",
                    textBorderColor: "rgba(139, 238, 103, 0.98)",
                    textBorderWidth: 0.5,
                    textBorderType: "solid"
                }
            },
            series: [
                {
                    name: l1.name,
                    data: l1.rates,
                    smooth: false, lineStyle: { normal: { width: 2 } },
                    animationDuration: 2500,
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(218,57,20,0.3)'
                            }, {
                                offset: 0.8,
                                color: 'rgba(218,57,20,0)'
                            }], false),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 10
                        }
                    },
                    itemStyle: { normal: { color: '#DA3914' } },
                    type: 'line',
                },
                {
                    name: l2.name,
                    data: l2.rates,
                    type: 'line',
                    smooth: true, lineStyle: { normal: { width: 2 } },
                    animationDuration: 2500,
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(3, 194, 236, 0.3)'
                            }, {
                                offset: 0.8,
                                color: 'rgba(3, 194, 236, 0)'
                            }], false),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 10
                        }
                    },
                    itemStyle: { normal: { color: '#03C2EC' } },
                }
            ]
        };
        eps_option && epsChart.setOption(eps_option);
        sleep(1800).then(() => {
            $.magnificPopup.open({
        items: {
            src: '#popResultDiv',
            type: 'inline',
            removalDelay: 300,
            mainClass: 'mfp-fade'
        },
        callbacks: {
            open: function () {

            },
            close: function () {
            }
        }
    });
    })

    }
    var logs;
    var num;
    var index = 0;
    function showLogs(data,drawData) {
        console.log("同步 日志");
        logs = data.LOG;
        num = data.LOG.length;
        logclk = self.setInterval("slowshow()", 500);
        sleep(num*500).then(() => {
            stop = false;
            draw(drawData);    
        })
        
    }

    function slowshow() {
        var cur = $('#logDiv').html();
        $('#logDiv').html(cur + '<p>' + logs[index] + '</p>');
        index++;
        var div = document.getElementById("logDiv");
        div.scrollTop = div.scrollHeight;
        if (index == num) {
            index = 0;
            clearInterval(logclk);
        }
    }

    //配对模型和数据集
    $("#selectDataset").on("change", function () {

        var sel = $(this).children('option:selected').val();
        console.log(sel);
        switch (sel) {
            case "mnist":
                $('#selectModel').val("cnn");
                popBox(sel);
                break;
            case "cifar":
                $('#selectModel').val("resnet18");
                popBox(sel);
                break;
            case "gtsrb":
                $('#selectModel').val("resnet18");
                popBox(sel);
                break;
            case "mtfl":
                $('#selectModel').val("resnet18");
                popBox(sel);
                break;
            case "sst":
                $('#selectModel').val("lstm");
                popBox(sel);
                break;
        }
    });

    //弹出
    function popBox(dataset) {
        $.magnificPopup.open({
            items: {
                src: '#popDiv',
                type: 'inline',
                removalDelay: 300,
                mainClass: 'mfp-fade'
            },
            callbacks: {
                open: function () {
                    $('#dataset_text').text(dataInfo[dataset]);
                    $('#dataset_img').attr("src", "../static/images/" + dataset + ".png");
                    console.log($('#dataset_img').attr("src"));
                },
                close: function () {
                }
            }
        });
    }

    function sleep (time) {
    return new Promise((resolve) => setTimeout(resolve, time));
    }
    // 用法
    
    //结束后弹出
    function popEnd(drawData,logData) {
        showLogs(logData,drawData);
    }

    //结果弹窗
    
</script>