/*

Tooplate 2122 Nano Folio

https://www.tooplate.com/view/2122-nano-folio

*/

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: #4a4f6d;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #30ADAD;
}

.tm-about-text a {
    color: #9F6;
}

h1,
h2,
p,
i,
address,
.tm-text-white {
    color: white;
}

.tm-link-gray {
    color: #999999;
}

.tm-link-white {
    color: white;
}

.tm-footer {
    color: #999999;
    text-align: center;
}

.tm-container-fluid {
    width: 100%;
    max-width: 970px;
    box-sizing: border-box;
    /* margin: 0 auto; */
    /* padding: 60px 15px; */
}

.tm-site-header {
    height: 470px;
}

.tm-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tm-about,
.tm-contact {
    display: flex;
}

.tm-contact {
    flex-direction: row-reverse;
}

.tm-about>div {
    flex: 1 1;
}

.tm-contact-form-container,
.tm-contact-info {
    width: 40%;
}

.tm-contact-info {
    padding-top: 20px;
}

.tm-contact-header {
    width: 20%;
}

.tm-contact-header {
    padding-left: 50px;
    padding-right: 50px;
}

.tm-contact {
    padding: 50px 20px;
}

.tm-contact>div {
    padding-left: 34px;
    padding-right: 34px;
    box-sizing: border-box;
}

input,
textarea,
button {
    display: block;
}

input,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

::-webkit-input-placeholder {
    color: white;
}

/* Edge */
:-ms-input-placeholder {
    color: white;
}

/* Internet Explorer 10-11 */
::placeholder {
    color: white;
}

.tm-right {
    margin-right: 0;
    margin-left: auto;
}

.tm-btn-submit {
    background: none;
    color: white;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tm-btn-submit:hover {
    color: #000000;
}

.tm-social-link {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-social-link i {
    color: #99CCCC;
    transition: all 0.3s ease;
}

.tm-social-link:hover i.fa-facebook {
    color: #3b5998;
}

.tm-social-link:hover i.fa-twitter {
    color: #00acee;
}

.tm-social-link:hover i.fa-instagram {
    color: #3f729b;
}

.tm-flex {
    display: flex;
}

address {
    font-style: normal;
}

.filters-button-group {
    text-align: right;
    padding: 0;
    margin: 0;
}

.filters-button-group li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.filters-button-group li a.active {
    color: #F96699;
}

/* .tm-gallery {
    margin: -10px;
} */

.tm-gallery-item {
    border-radius: 12px;
    margin: 10px;
    overflow: hidden;
}

.tm-gallery-item a {
    display: block;
    line-height: 0;
}

.tm-gallery-item img {
    margin: 1%;
    width: 290px;
    /* height: 220px; */
}

@media (max-width: 940px) {
    .filters-button-group {
        text-align: left;
    }
}

@media (max-width: 680px) {
    .tm-contact {
        flex-direction: column;
    }

    .tm-contact-form-container,
    .tm-contact-info,
    .tm-contact-header {
        width: 100%;
    }

    .tm-contact-form-container {
        margin-bottom: 20px;
    }

    .tm-contact-info {
        margin-bottom: 30px;
    }
}

@media (max-width: 545px) {
    .tm-about {
        flex-direction: column;
    }
}

@media (max-width: 489px) {
    .tm-gallery-item {
        width: 48%;
        margin: 1%;
        height: auto;
    }

    .tm-gallery-item img {
        width: 100%;
        height: auto;
    }
}

.tm-p-50 {
    padding: 50px;
}

.tm-mb-0 {
    margin-bottom: 0;
}

.tm-mb-30 {
    margin-bottom: 30px
}

.tm-mb-40 {
    margin-bottom: 20px;
}

.tm-mb-50 {
    margin-bottom: 50px;
}

.tm-mb-80 {
    margin-bottom: 80px;
}

.tm-bgcolor-1 {
    background-color: #F96699;
}

.tm-bgcolor-2 {
    background-color: #38CCCC;
}

.tm-bgcolor-3 {
    background-color: #99CCCC;
}

.tm-border-rounded {
    border-radius: 15px;
}